<footer class="mt-5">
    <div class="container">
      <div class="red-arrow">
        <div class="icon-div"><a href="#top"><i class="fa-solid fa-arrow-up foot-icon"></i></a></div>
      </div>  

        <div class="row">
            <div class="col-lg-4 first-col">
                <img src="../../assets/images/rcb-footer-logo.png" class="img-fluid rcb-footer-logo" alt="">
                <p class="foot-para">Morbi non felis sit amet eros ultrices scelerisque. In 
                    egestas quam dolor, a lacinia leo volutpat sed. Phasellus 
                    sed eros dui. Curabitur quis urna eget elit laoreet mattis 
                    vitae id sem. Integer finibus blandit lorem ut aliquam.
                </p>
            </div>

            <div class="col-lg-2 second-col ">
                <p>links</p>
                <a href="#" class="pt-0">about us</a>
                <a href="#" class="pt-0">contact us</a>
                <a href="#" class="pt-0">collection</a>
            </div>

            <div class="col-lg-2 third-col">
                <a href="#" class="pt-0 foot-link">Help & Support</a>
                <a href="#" class="pt-0">Privacy Policy</a>
                <a href="#" class="pt-0">Term of Use</a>
            </div>

            <div class="col-lg-4 forth-col">
                <p class="first-para">Don't miss a thing!</p>

                <p class="second-para pt-4">Subscribe us now to get the latest news and update</p>
              
                <form class="wrapper pt-4 pb-3">
                  <input type="text" placeholder="Search Packs">
                  <button type="submit"><span class="iconify" data-icon="clarity:email-line"></span></button>
                </form>
                
            </div>
        </div>

    </div>
</footer>
