$poppin: 'Poppins', sans-serif;
$noto-san: 'Noto Sans', sans-serif;
$dm-sans: 'DM Sans', sans-serif;
$inter: 'Inter', sans-serif;

.profile-wrapper
{
    margin-top: 20px;
    .profile__cover{
        min-height: 35vh;
        background-image: url(../images/profile__banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @media only screen and (min-width: 768px)
        {
            min-height: 444px;
        }
    }
    .profile__header{
        .profile__pic{
            position: relative;
            img{
                width: 82px;
                max-height: 82px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                border: 5px solid #B0964C;
                top: -35px;
                left: 50%;
                transform: translate(-50%,-55%);
                @media only screen and (min-width: 768px)
                {
                    width: 282px;
                    max-height: 282px;
                    top: -65px;
                    position: relative;
                    left: auto;
                    transform: none;
                }
            }
        }
        .profile__info__inner
        {
            .profile__row
            {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 8px;
                &.not-between{
                    justify-content: start;
                }
                h2{
                    font-family: $noto-san;
                    font-style: normal;
                    font-weight: 700;
                    @include fluid-type($min_width, $max_width, 26px, 32px);
                    text-transform: capitalize;
                    color: #FFFFFF;
                    margin-bottom: 0;
                    padding: 2px 0;
                }
                .profile__row__half{
                    .profile_join_date{
                        font-family: $dm-sans;
                        font-style: normal;
                        font-weight: 700;
                        @include fluid-type($min_width, $max_width, 13px, 16px);
                    }
                    .profile__username{
                        font-family: $dm-sans;
                        font-style: normal;
                        font-weight: 500;
                        @include fluid-type($min_width, $max_width, 13px, 16px);
                    }
                    .profile__wallet__address{
                        @include fluid-type($min_width, $max_width, 11px, 12px);
                        color: #EBF3FF;
                        font-family: $dm-sans;
                        font-style: normal;
                        font-weight: 500;
                        padding: 5px 10px;
                        background-color: #0E1E45;
                        border-radius: 4px;
                    }
                    .score__bar{
                        padding: 2px 0;
                        display: flex;
                        align-items: center;
                        margin-bottom: 0;
                        li{
                            display: flex;
                            align-items: center;
                            height: 40px;
                            border-radius: 1px;
                            background-color: #E02834;
                            margin-right: 3px;
                            &:first-child{
                                width: 1px;
                            }
                            &:nth-child(2){
                                width: 3px;
                            }
                            &:nth-child(3){
                                width: 6px;
                            }
                            &.last-li{
                                background-color: #21262F;
                                border-radius: 5px;
                                padding: 5px 15px;
                                margin-right: 0px;
                                color: #fff;
                                span{
                                    font-family: 'Poppins', sans-serif;
                                    font-style: normal;
                                    font-weight: 600;
                                    @include fluid-type($min_width, $max_width, 18px, 24px);
                                    &:last-child{
                                        font-family: 'Poppins', sans-serif;
                                        font-style: normal;
                                        font-weight: 300;
                                        @include fluid-type($min_width, $max_width, 12px, 18px);
                                    }
                                }
                            }
                        }
                    }
                }
                &.short-info
                {
                    font-family: $dm-sans;
                    font-style: normal;
                    font-weight: 400;
                    @include fluid-type($min_width, $max_width, 13px, 16px);
                }
            }
        }
    }
}

.filter{
    .first-para{
        font-family: $dm-sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
    }
    .player-profile-card{
        .profile-card{
            .profile-img{
                border-radius: 10px 50px;
                position: relative;
                // z-index: -1;
                &:hover{
                    &::before{
                        content: '';
                        border: 30px solid #E02834;
                        position: absolute;
                        background: inherit;
                        top: -5px;
                        right: -5px;
                        left: -5px;
                        bottom: -5px;
                        border-radius: 10px 50px;
                        filter: blur(15px);
                        z-index: -5;
                    }
                }
                .img-container{
                    z-index: 5;
                    img{
                        // z-index: 10;
                        border: 5px solid #E02834;
                        border-radius: 10px 50px;
                    }
                }
            }
            .profile-body{
                h5{
                    font-family: $poppin;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 40px;
                    color: #FFFFFF;

                    margin-bottom: 0;
                }

                p{
                    font-family: $poppin;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #686868;
                }

                .last-para{
                    font-family: $poppin;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                }
            }
        }
    }
}