<app-sidebar></app-sidebar>

<div class="main-wrapper">
  <app-header></app-header>

  <router-outlet></router-outlet>
  <app-footer></app-footer>

  <section class="end-point">
    <div class="container">
      <div class="row end-point-last">
        <div class="text-center text-md-end col-md-6 order-md-2">
          <a href="#"><i class="fab fa-youtube foot-last-icon"></i></a>
          <a href="#"><i class="fab fa-twitter foot-last-icon"></i></a>
          <a href="#"><i class="fab fa-twitch foot-last-icon"></i></a>
          <a href="#"><i class="fab fa-instagram foot-last-icon"></i></a>
          <a href="#"><i class="fab fa-facebook-f foot-last-icon"></i></a>
        </div>
        <div class="text-center text-md-start col-md-6 order-md-1">
          <p class="mb-0">&copy; 2023 NFT. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </section>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<!-- Modal-2 -->
<div
  class="modal sign-in-modal"
  id="Modal-sign-in"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close" data-bs-dismiss="modal">
        <span class="iconify" data-icon="carbon:close"></span>
      </button>

      <div class="image-container">
        <img
          class="img-1"
          src="../../assets/images/sign-up-modal-logo.png"
          class="img-fluid"
          alt=""
        />
        <img
          class="img-2"
          src="../../assets/images/sign-up-modal-pic.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <h6>Sign up for MetaWicket</h6>

      <p class="parra-1">with Depper ?</p>

      <p>Email Address</p>

      <form>
        <input type="email" />
      </form>

      <p>Create Password</p>
      <form>
        <input type="password" />
      </form>

      <a data-bs-toggle="modal" data-bs-target="#Modal-forgot-passward" href="#"
        >Forgot Password?</a
      >

      <button class="sign-up" type="submit">Sign In</button>

      <a data-bs-toggle="modal" data-bs-target="#Modal-sign-up" href="#"
        >Don’t have an account? Register Here</a
      >

      <div class="line-or">
        <div class="first-line"></div>
        <p>Or</p>
        <div class="second-line"></div>
      </div>

      <div class="social-modal">
        <div class="first-link">
          <span class="iconify" data-icon="brandico:facebook"></span>
        </div>
        <div class="second-link">
          <p>
            <span class="iconify" data-icon="akar-icons:google-fill"></span>
          </p>
        </div>
        <div class="third-link">
          <span class="iconify" data-icon="ant-design:mail-outlined"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal-3 -->
<div
  class="modal forgot-modal"
  id="Modal-forgot-passward"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close" data-bs-dismiss="modal">
        <span class="iconify" data-icon="carbon:close"></span>
      </button>

      <h6 class="text-center">Forgot your password?</h6>

      <p class="parra-1 text-center mb-3">
        Please enter the email you used to sign up for Dapper
      </p>

      <form>
        <input type="email" placeholder="Email" />
      </form>

      <button
        class="sign-up"
        data-bs-toggle="modal"
        data-bs-target="#Modal-forgoted"
        type="submit"
      >
        Send Password Reset Email
      </button>

      <a data-bs-toggle="modal" data-bs-target="#Modal-sign-up" href="#"
        >Neverm Mind</a
      >
    </div>
  </div>
</div>

<!-- Modal-4 -->
<div
  class="modal forgot-modal"
  id="Modal-forgoted"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close" data-bs-dismiss="modal">
        <span class="iconify" data-icon="carbon:close"></span>
      </button>

      <h6 class="text-center">Forgot your password?</h6>

      <p class="parra-1 text-center mb-3">
        We’ve sent a password reset email to (Email Address)Please follow the
        instructions in the email to set up a new Dapper password
      </p>

      <button
        class="sign-up"
        data-bs-toggle="modal"
        data-bs-target="#Modal-sign-in"
        type="submit"
      >
        Okay, Thank you
      </button>
    </div>
  </div>
</div>
