<div class="menu-wrapper">
  <div class="menu__inner">

    <button class="menu-button position-absolute end-0" onclick="toggleClass()"><span class="iconify"
        data-icon="eva:close-fill"></span></button>

    <a routerLink="/index">
      <img src="../../assets/images/rcb-footer-logo.png" class="img-fluid mx-auto d-table" />
    </a>



    <div class="mt-2">
      <div class="scrollble-rcb">
        <ul class="menu-list">
          <li routerLinkActive="active">
            <a class="menu-link" routerLink="/index"><img src="../../assets/images/side-menu-icons/home-icon.png"
                class="img-fluid" /> Home</a>
          </li>
          <!-- <li routerLinkActive="active">
            <a class="menu-link" routerLink="/marketplace"><img
                src="../../assets/images/side-menu-icons/marketplace-icon.png" class="img-fluid" /> Marketplace</a>
          </li> -->

          <li routerLinkActive="active">
            <a class="menu-link" routerLink="/packs"><img src="../../assets/images/side-menu-icons/packs-icon.png"
                class="img-fluid" /> Packs</a>
          </li>

          <!-- <li routerLinkActive="active">
            <a class="menu-link" routerLink="/marketplace"><img
                src="../../assets/images/side-menu-icons/commnity-icon.png" class="img-fluid" /> Community</a>
          </li> -->

          <li routerLinkActive="active" *ngIf="login">
            <a class="menu-link" routerLink="/my-wallet"><img src="../../assets/images/side-menu-icons/wallet-icon.png"
                class="img-fluid" /> Wallet</a>
          </li>

          <!-- <li>
            <a class="menu-link" routerLink="/marketplace"><img
                src="../../assets/images/side-menu-icons/myactivebids-icon.png" class="img-fluid" /> My Active Bids</a>
          </li> -->

          <li routerLinkActive="active" *ngIf="login">
            <a class="menu-link" routerLink="/profile"><img
                src="../../assets/images/side-menu-icons/myportfolio-icon.png" class="img-fluid" /> My Portfolio</a>
          </li>

          <li routerLinkActive="active">
            <a class="menu-link" routerLink="/help"><img src="../../assets/images/side-menu-icons/setting-icon.png"
                class="img-fluid" /> Help</a>
          </li>
        </ul>

        <div class="live-clock mt-3" *ngIf="login">
          <div class="first-live-clock align-items-center">
            <div class="user-pic"></div>
            <div class="live-col">
              <p class="upcoming-para-1 mb-0">{{profileData&& profileData.sUserName && profileData.sUserName ? profileData.sUserName :'-'}}</p>
              <p class="upcoming-para-2 mb-0">{{showObj.wallet_address| slice:0:6}}...{{showObj.wallet_address| slice:-4}}</p>
            </div>
          </div>
        </div>

      </div>



    </div>

  </div>
</div>