<!DOCTYPE html>
<html lang="en">


<!-- xhtml/index.html08:17:22 -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Categories | RCB Admin</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../assets/images/RCB-logo.png">

    <!-- TODO: Check if this is required or not! -->
    <link rel="stylesheet" href="../assets/vendor/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../assets/vendor/datatables/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">

    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link href="../assets/css/admin-style.css" rel="stylesheet">

    <!-- 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script> -->
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!-- Include Header -->
        <%- include('header'); -%>

            <!-- Include Sidebar -->
            <%- include('sidebar'); -%>

                <!--**********************************
            Content body start
        ***********************************-->
                <div class="content-body">
                    <!-- row -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col">
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <h4 class="card-title">Categories</h4>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <button class="btn btn-primary btn-peach with-icon"
                                                        data-toggle="modal" data-target="#createCat">
                                                        <span>Create</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="userTable" class="display">
                                                <thead>
                                                    <tr>
                                                        <th>Max Per Address</th>
                                                        <th>Private/ Public</th>
                                                        <th>TXN status</th>
                                                        <th>Status</th>
                                                        <th>Show status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="userList">
                                                    <tr>
                                                        <td colspan="4">No Category found.</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>


    <div class="modal fade show" id="createCat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <a href="#" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span class="iconify text-brick-red rounded-circle" data-icon="carbon:close-filled"
                        data-inline="false" style="background-color: #fff;" data-width="20" data-height="20"></span>
                </a>
                <div class="modal-body">
                    <div class="content-sec">
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/RCB-logo.png" class="img-fluid mx-auto mb-4 mt-4 d-table" />
                                <h6 class="font-family-infra-semibold text-capitalize text-center mb-0">Create Category
                                </h6>
                            </div>
                        </div>
                        <div class="row align-items-center bg-light-purple pt-3 pb-3 mb-4 mt-4">
                            <!-- <div class="col-md-4">
                                <h5 class="font-family-bs-regular text-capitalize mb-0 text-center text-md-left">Earnings
                                </h5>
                            </div> -->
                            <!-- <div class="col-md-8">
                                <p class="font-family-bs-semibold earning-sum mb-0 text-center text-md-right">
                                    <span id="txtRedeemablePoints"></span>
                                    BNB
                                </p>
                            </div> -->
                            <label for="AmountError" id="lblAmountError" class="text-danger d-none"></label>

                        </div>
                        <!-- <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="number" name="starttime" id="starttime"
                                    placeholder="Start time (secs)">
                                <label for="statrt" id="lblstatrt" class="text-danger d-none"></label>
                            </div>
                        </div>
                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="number" name="endtime" id="endtime"
                                    placeholder="End time (secs)">
                                <label for="Endtime" id="lblEndtime" class="text-danger d-none"></label>
                            </div>
                        </div> -->
                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="number" name="maxPerAddress" id="maxPerAddress"
                                    placeholder="Max per address">
                                <label for="MaxPerAddress" id="lblMaxPerAddress" class="text-danger d-none"></label>
                            </div>
                        </div>
                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="number" name="categoryTokencap" id="categoryTokencap"
                                    placeholder="Total supply">
                                <label for="CategoryTokencap" id="lblCategoryTokencap"
                                    class="text-danger d-none"></label>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="text" name="category_name" id="category_name"
                                    placeholder="Category Name">
                                <label for="CategoryName" id="lblCategoryName" class="text-danger d-none"></label>
                            </div>
                        </div>
                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="datetime-local" name="category_startTime"
                                    id="category_startTime" placeholder="Start Time">
                                <label for="category_startTime" id="lblcategory_startTime"
                                    class="text-danger d-none"></label>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <!-- <input class="form-control" type="number" name="categoryTokencap" id="categoryTokencap"
                                    placeholder="Total supply"> -->
                                <select class="form-control" name="sStatus" id="sStatus">
                                    <option value="">Select status</option>
                                    <option value="active" selected>Active</option>
                                    <option value="inactive">Inactive</option>

                                </select>
                                <label for="Status" id="lblStatus" class="text-danger d-none"></label>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <!-- <input class="form-control" type="number" name="categoryTokencap" id="categoryTokencap"
                                    placeholder="Total supply"> -->
                                <select class="form-control" name="category_type" id="category_type">
                                    <option value="">Select type</option>
                                    <option value="public" selected>Public</option>
                                    <option value="private">Private</option>

                                </select>
                                <label for="Type" id="lblType" class="text-danger d-none"></label>
                            </div>
                        </div>
                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="number" name="sPrice" id="sPrice" placeholder="Price">
                                <label for="Price" id="lblPrice" class="text-danger d-none"></label>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col text-center">
                                <button class="btn btn-primary btn-peach with-icon mx-auto" id="btnCreateCat">
                                    <span>Create</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade show" id="allowUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <a href="#" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span class="iconify text-brick-red rounded-circle" data-icon="carbon:close-filled"
                        data-inline="false" style="background-color: #fff;" data-width="20" data-height="20"></span>
                </a>
                <div class="modal-body">
                    <div class="content-sec">
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/RCB-logo.png" class="img-fluid mx-auto mb-4 mt-4 d-table" />
                                <h6 class="font-family-infra-semibold text-capitalize text-center mb-0">Allow user
                                </h6>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">

                                <select class="form-control avoid-selectpicker" name="user_address" id="user_address">
                                    <option value="">Select user</option>

                                </select>
                                <label for="User" id="lblUser" class="text-danger d-none"></label>
                            </div>
                        </div>


                        <div class="row mt-4">
                            <div class="col text-center">
                                <button class="btn btn-primary btn-peach with-icon mx-auto" id="btnAllow">
                                    <span>Allow</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade show" id="categoryGet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Whitelisted Users</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <a href="#" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span class="iconify text-brick-red rounded-circle" data-icon="carbon:close-filled"
                        data-inline="false" style="background-color: #fff;" data-width="20" data-height="20"></span>
                </a>
                <div class="modal-body">
                    <div class="content-sec">
                        <div id="loadingUsers" class="">
                            <p>Loading.....</p>
                        </div>
                        <div id="bodyOfCAT" class="d-none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade show" id="UpdateCat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <a href="#" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span class="iconify text-brick-red rounded-circle" data-icon="carbon:close-filled"
                        data-inline="false" style="background-color: #fff;" data-width="20" data-height="20"></span>
                </a>
                <div class="modal-body">
                    <div class="content-sec">
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/RCB-logo.png" class="img-fluid mx-auto mb-4 mt-4 d-table" />
                                <h6 class="font-family-infra-semibold text-capitalize text-center mb-0">Update Category
                                </h6>
                            </div>
                        </div>

                        <div class="row align-items-center bg-light-purple pt-3 pb-3 mb-4 mt-4">
                            <label for="AmountError" id="lblAmountErrorUpdate" class="text-danger d-none"></label>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="hidden" name="categoryID" id="categoryIDUpdate">
                                <input class="form-control" type="hidden" name="categoryIDContract" id="categoryIDContractUpdate">
                                
                                <input class="form-control" type="number" name="maxPerAddress" id="maxPerAddressUpdate"
                                    placeholder="Max per address">
                                <label for="MaxPerAddress" id="lblMaxPerAddressUpdate" class="text-danger d-none"></label>
                            </div>
                        </div>
                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="number" name="categoryTokencap"
                                    id="categoryTokencapUpdate" placeholder="Total supply">
                                <label for="CategoryTokencap" id="lblCategoryTokencapUpdate"
                                    class="text-danger d-none"></label>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="text" name="category_name" id="category_nameUpdate"
                                    placeholder="Category Name">
                                <label for="CategoryName" id="lblCategoryNameUpdate" class="text-danger d-none"></label>
                            </div>
                        </div>
                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="datetime-local" name="category_startTime"
                                    id="category_startTimeUpdate" placeholder="Start Time">
                                <label for="category_startTime" id="lblcategory_startTimeUpdate"
                                    class="text-danger d-none"></label>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <select class="form-control" name="sStatus" id="sStatusUpdate">
                                    <option value="">Select status</option>
                                    <option value="active">Active</option>
                                    <option value="inactive">Inactive</option>

                                </select>
                                <label for="Status" id="lblStatusUpdate" class="text-danger d-none"></label>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <select class="form-control" name="category_type" id="category_typeUpdate">
                                    <option value="">Select type</option>
                                    <option value="public">Public</option>
                                    <option value="private">Private</option>
                                </select>
                                <label for="Type" id="lblTypeUpdate" class="text-danger d-none"></label>
                            </div>
                        </div>
                        <div class="row text-center mb-2">
                            <div class="col bas-form" style="padding: 0;">
                                <input class="form-control" type="number" name="sPrice" id="sPriceUpdate"
                                    placeholder="Price">
                                <label for="Price" id="lblPriceUpdate" class="text-danger d-none"></label>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col text-center">
                                <button class="btn btn-primary btn-peach with-icon mx-auto" id="btnUpdateCat">
                                    <span>Update</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
            Content body end
        ***********************************-->

    <!--**********************************
            Footer start
        ***********************************-->

    <%- include('footer'); -%>

        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
        Main wrapper end
    ***********************************-->

        <!--**********************************
        Scripts
    ***********************************-->
        <!-- Required vendors -->

        <script src="../assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="../assets/js/custom.min.js"></script>
        <script src="../assets/js/deznav-init.js"></script>
        <script src="../assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="../assets/vendor/datatables/js/dataTables.responsive.min.js"></script>

        <script src="../Admin/js/categories.js"></script>

        <!-- <script>
            $(function () {
    
                $("#starttime").datepicker();
                $("#endtime").datepicker();
            });
        </script> -->
</body>

<!-- xhtml/index.html08:18:50 -->

</html>