<section class="mobile">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="mobile-nav-wrapper">
          <a class="left__part" href="#">
            <div class="hamburger">
              <button class="menu-button" onclick="toggleClass()"><span class="iconify"
                  data-icon="icon-park:hamburger-button"></span></button>
            </div>
            <div class="closed-menu">
              <button class="menu-button" onclick="toggleClass()"><span class="iconify"
                  data-icon="eva:close-fill"></span></button>
            </div>
          </a>
          <a href="#" class="middle__part text-center"><img src="../../assets/images/logo/RCB-top-logo.png" alt=""
              class="img-fluid"></a>
          <a class="nav-icon right__part me-2" href="#"><img src="../../assets/images/icon/user-icon.png"
              class="img-fluid" alt=""></a>
          <a class="nav-icon right__part" href="#"><img src="../../assets/images/icon/icon-Notification.png"
              class="img-fluid" alt=""></a>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="navbar-first-col">
          <form class="navbar-form">
            <input type="text" placeholder="Search Packs">
            <button type="submit" class="fmobile"><img src="../../assets/images/icon/icon-Search.png" alt=""></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-wallet mt-5">
  <div class="container">
    <h2 class="wallet-heading">My Wallet</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="curerent-balance">
          <h5>Current Balance</h5>
          <h1>${{balance ? (balance| number : '1.0-4') : 0}} USD</h1>
        </div>

        <div class="add-funds-down">
          <p class="para-heading">Add funds to your balance</p>

          <div class="amount-input">
            <form>
              <input type="text" placeholder="Enter Amount">
              <p>MATIC</p>
            </form>
          </div>

          <a class="gold-btn-a add-funds-btn" (click)="onClickAdd()"
            href="javascript:;">Add
            funds</a>

          <!-- <p class="balance-para">When you purchase Dapper Balance using fiat payment methods, the sale is made by
            Circle Internet Financial, Inc. When you purchase Dapper Balance using cryptocurrency, the sale is made by
            Dapper Labs, Inc.</p> -->

          <!-- <div class="visa-card mt-3">
            <div class="visa-icons">
              <p class="first-icon"><span class="iconify" data-icon="bi:check"></span></p>

              <p class="second-icon"><span class="iconify" data-icon="bx:bxl-visa"></span></p>
            </div>

            <div class="visa-number">
              <div class="visa-num d-flux">
                <p class="first-para"><span class="s-1">***</span> <span class="s-2">***</span> <span
                    class="s-3">***</span></p>

                <p class="second-para">2864</p>
              </div>
            </div>

            <div class="card-details">

              <div class="avalible-funds">
                <p class="first-para">Available funds</p>
                <p class="second-para">68.789,56 $</p>
              </div>

              <div class="expires">
                <p class="first-para">EXPIRES</p>
                <p class="second-para">08/22</p>
              </div>

              <div class="cvv">
                <p class="first-para">CVV</p>
                <p class="second-para">186</p>
              </div>

            </div>

          </div> -->

          <!-- <a href="#" class="connect-wallet mt-4">Connect Wallet</a> -->

        </div>

        <div class="latest-transitions mt-5">
          <div class="first-block">
            <p>Latest transactions</p>
            <!-- <a href="#"><span class="iconify" data-icon="akar-icons:arrow-right"></span></a> -->
          </div>

          <div class="transaction-table mt-5">
            <table class="table table-dark">
              <tbody>
                <tr>
                  <td> Date Time</td>
                  <td> Category</td>
                  <td> Quantity</td>
                  <td> Status</td>
                  <td>Price </td>
                  <td> View TX</td>
                </tr>
                <ng-container *ngIf="listData && listData.length">

                  <tr class="table-border" *ngFor="let obj of listData;">
                    <th scope="row" class="table-text"> {{obj && obj.sCreated &&
                      obj.sCreated != undefined ?
                      (obj.sCreated | date: 'medium'):0}}</th>
                    <td class="table-text">{{obj && obj.category_id &&
                      obj.category_id != undefined ?
                      obj.category_id :0}}</td>
                    <td class="table-text">{{obj && obj.quantity &&
                      obj.quantity != undefined ?
                      obj.quantity :0}}</td>
                    <td class="table-text"><span class="iconify dot" data-icon="carbon:dot-mark"></span>
                      <span *ngIf="obj && obj.sTransactionStatus && obj.sTransactionStatus == -1"> Failed</span>
                      <span *ngIf="obj && obj.sTransactionStatus && obj.sTransactionStatus == 0"> Pending</span>
                      <span *ngIf="obj && obj.sTransactionStatus && obj.sTransactionStatus == 1"> Mined</span>

                      <span *ngIf="obj && obj.sTransactionStatus && obj.sTransactionStatus == -99"> Not started
                        yet.</span>

                    </td>
                    <td class="table-text-green">{{obj && obj.sPrice &&
                      obj.sPrice != undefined ?
                      obj.sPrice :0}} MATIC</td>
                    <td class="table-text-icon"><button type="button"
                        (click)="onClickTXHASH(obj.sTransactionHash)"><span class="iconify"
                          data-icon="ant-design:eye-filled"></span></button></td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="!listData || !listData.length">
                  <tr class="table-border">

                    <td class="table-text" colspan="5"> No records found</td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div class="first-block" *ngIf="listData.length < filterData['recordsTotal'] ">
            <!-- <p>Latest transactions</p> -->
            <a href="javascript:;" (click)="onClickLoadMore()"><span class="iconify" data-icon="akar-icons:arrow-right"></span></a>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="add-funds">
          <p class="para-heading">Add funds to your balance</p>

          <!--<div class="amount-input">
            <form>
              <input type="text" placeholder="Enter Amount">
              <p>MATIC</p>
            </form>
          </div>-->

          <a data-bs-toggle="modal"  href="javascript:;"
            class="gold-btn-a add-funds-btn" (click)="onClickAdd()">Add
            funds</a>

          <!-- <p class="balance-para">When you purchase Dapper Balance using fiat payment methods, the sale is made by
            Circle Internet Financial, Inc. When you purchase Dapper Balance using cryptocurrency, the sale is made by
            Dapper Labs, Inc.</p> -->

          <!-- <div class="visa-card">
            <div class="visa-icons">
              <p class="first-icon"><span class="iconify" data-icon="bi:check"></span></p>

              <p class="second-icon"><span class="iconify" data-icon="bx:bxl-visa"></span></p>
            </div>

            <div class="visa-number">
              <div class="visa-num d-flux">
                <p class="first-para"><span class="s-1">***</span> <span class="s-2">***</span> <span
                    class="s-3">***</span></p>

                <p class="second-para">2864</p>
              </div>
            </div>

            <div class="card-details">

              <div class="avalible-funds">
                <p class="first-para">Available funds</p>
                <p class="second-para">68.789,56 $</p>
              </div>

              <div class="expires">
                <p class="first-para">EXPIRES</p>
                <p class="second-para">08/22</p>
              </div>

              <div class="cvv">
                <p class="first-para">CVV</p>
                <p class="second-para">186</p>
              </div>

            </div>

          </div>

          <a href="#" class="connect-wallet mt-3">Connect Wallet</a> -->

        </div>
      </div>

    </div>
  </div>
</section>


<div class="modal addfund" id="addfund" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <button type="button" class="close" data-bs-dismiss="modal"><span class="iconify"
          data-icon="carbon:close"></span></button>

      <h6>Add funds</h6>




      <!-- <a data-bs-toggle="modal" data-bs-target="#Modal-sign-in" href="#">Already have an account? Sign In</a> -->

      <div class="line-or">
        <div class="first-line"></div>
        <p>Or</p>
        <div class="second-line"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal forgot-modal" id="Modal-forgoted" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <button type="button" class="close" data-bs-dismiss="modal"><span class="iconify"
          data-icon="carbon:close"></span></button>


      <h6>Add funds</h6>
      <div>

        <iframe
          src="https://buy.moonpay.com/?apiKey=sk_test_UsZNUjejK7PBBJrZ7xvoxZY2ShAKI2t9&defaultCurrencyCode=matic_polygon&currencyCode=matic_polygon&baseCurrencyCode=usd"
          allow="accelerometer; autoplay; camera; gyroscope; payment"
          frameborder="0"
           width="350px" height="510px" frameborder="0"
          >
        </iframe>
      </div>



    </div>
  </div>
</div>