
      <section class="mobile">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div class="mobile-nav-wrapper">
                <a class="left__part" href="#">
                  <div class="hamburger">
                    <button class="menu-button" onclick="toggleClass()"><span class="iconify" data-icon="icon-park:hamburger-button"></span></button>
                  </div>
                  <div class="closed-menu">
                    <button class="menu-button" onclick="toggleClass()"><span class="iconify" data-icon="eva:close-fill"></span></button>
                  </div>
                </a>
                <a href="#" class="middle__part text-center"><img src="../../assets/images/logo/RCB-top-logo.png" alt=""  class="img-fluid"></a>
                <a class="nav-icon right__part me-2" href="#"><img src="../../assets/images/icon/user-icon.png" class="img-fluid" alt=""></a>
                <a class="nav-icon right__part" href="#"><img src="../../assets/images/icon/icon-Notification.png" class="img-fluid" alt=""></a>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="navbar-first-col">
                <form class="navbar-form">
                  <input type="text" placeholder="Search Packs">
                  <button type="submit" class="fmobile"><img src="../../assets/images/icon/icon-Search.png" alt=""></button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- Middle content -->

    <div class="profile-wrapper">
      <div class="profile__cover">
          
      </div>
      <div class="profile__header">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-xl-3 text-center text-md-start">
                      <div class="profile__pic">
                          <img src="../../assets/images/profile__pic_default.png" class="img-fluid"/>
                      </div>
                  </div>
                  <div class="col-md-6 col-xl-6 pt-2 pb-2 text-center">
                      <div class="profile__info__inner">
                          <div class="profile__row justify-content-center justify-content-md-start">
                              <div class="profile__row__half">
                                  <h2 class="pe-1">Cameron Mill</h2>
                              </div>
                              <div class="profile__row__half">
                                  <ul class="score__bar">
                                      <li></li>                                        
                                      <li></li>                                        
                                      <li></li>
                                      <li class="last-li">
                                          <span>0</span>
                                          <span class="ms-2">Collector Score</span>
                                      </li>                                        
                                  </ul>
                              </div>

                          </div>
                          <div class="profile__row not-between justify-content-center justify-content-md-start">
                              <div class="profile__row__half">
                                  <h2 class="profile__username">@WillCameron</h2>
                              </div>
                              <div class="ps-4 profile__row__half">
                                  <div class="profile__wallet__address">
                                      0xb89aa638dff3r...
                                  </div>
                              </div>
                          </div>
                          <div class="profile__row not-between justify-content-center justify-content-md-start text-center text-md-start short__info">
                              <p class="color-ccc">Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a</p>
                          </div>
                          <div class="profile__row not-between justify-content-center justify-content-md-start">
                              <div class="profile__row__half color-white">
                                  <h2 class="profile_join_date">Joined August, 2021</h2>
                              </div>
                              <div class="ps-4 profile__row__half">
                                  <div class="profile_join_date color-white">
                                      10K Following
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-xl-3 pt-0 pt-md-2 pb-2 text-center">
                      <a href="#" class="btn btn-rcb-gold">Edit Profile</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="profile__body">

      </div>
    </div>

    <!--  Middle content -->
    
    

    <section class="filter mt-5">
      <div class="container">
        <p class="first-para">Filter By:</p>
        <div class="row gx-4">
          <div class="col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="player-profile-card me-auto ms-auto">

              <div class="profile-card" style="width: 18rem;">

                <div class="profile-img">
                  <div class="img-container">
                    <img src="../../assets/images/profile-palyer-pic-1.png" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="profile-body">
                  <h5 class="">Player Name</h5>
                  <p class="">Moments description - Date, Set Name
                    (Series) Etc</p>
                    <p class="last-para">Common #10253  /  4000+</p>
                </div>

              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="player-profile-card me-auto ms-auto">

              <div class="profile-card" style="width: 18rem;">
                
                <div class="profile-img">
                  <div class="img-container">
                    <img src="../../assets/images/profile-palyer-pic-2.png" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="profile-body">
                  <h5 class="">Player Name</h5>
                  <p class="">Moments description - Date, Set Name
                    (Series) Etc</p>
                    <p class="last-para">Common #10253  /  4000+</p>
                </div>

              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="player-profile-card me-auto ms-auto">

              <div class="profile-card" style="width: 18rem;">
                
                <div class="profile-img">
                  <div class="img-container">
                    <img src="../../assets/images/profile-palyer-pic-3.png" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="profile-body">
                  <h5 class="">Player Name</h5>
                  <p class="">Moments description - Date, Set Name
                    (Series) Etc</p>
                    <p class="last-para">Common #10253  /  4000+</p>
                </div>

              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="player-profile-card me-auto ms-auto">

              <div class="profile-card" style="width: 18rem;">
                
                <div class="profile-img">
                  <div class="img-container">
                    <img src="../../assets/images/profile-palyer-pic-4.png" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="profile-body">
                  <h5 class="">Player Name</h5>
                  <p class="">Moments description - Date, Set Name
                    (Series) Etc</p>
                    <p class="last-para">Common #10253  /  4000+</p>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="filter mt-5">
      <div class="container">
        <div class="row gx-4">
          <div class="col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="player-profile-card me-auto ms-auto">

              <div class="profile-card" style="width: 18rem;">

                <div class="profile-img">
                  <div class="img-container">
                    <img src="../../assets/images/profile-palyer-pic-1.png" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="profile-body">
                  <h5 class="">Player Name</h5>
                  <p class="">Moments description - Date, Set Name
                    (Series) Etc</p>
                    <p class="last-para">Common #10253  /  4000+</p>
                </div>

              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="player-profile-card me-auto ms-auto">

              <div class="profile-card" style="width: 18rem;">
                
                <div class="profile-img">
                  <div class="img-container">
                    <img src="../../assets/images/profile-palyer-pic-2.png" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="profile-body">
                  <h5 class="">Player Name</h5>
                  <p class="">Moments description - Date, Set Name
                    (Series) Etc</p>
                    <p class="last-para">Common #10253  /  4000+</p>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    